*{
    list-style: none;
   
}

ul{ 
    padding-top: 20px;
    display: flex;
    width: 70%;
    margin-left: 30%;
}
li{
   flex: 1;
}

.form{
    width: 70%;
    border: 1.5px solid black;
    border-radius: 7px;
    margin: auto;
    height: 400px;
    margin-top: 40px;
   padding: 20px;
}

h1{
    text-align: center;

}
div{
   margin-bottom: 30px;
}

div>button{
    margin-top: 25px;
}

.answer{
    margin-top: 25px;
    text-align: center;
}

@media all and (min-width: 700px){
    .form{
        width: 50%;
        border: 1.5px solid black;
        border-radius: 7px;
        margin: auto;
        height: 400px;
        margin-top: 40px;
       padding: 20px;
    }
}